/* Ochrona finansowa Twojej nieruchomości na wypadek niefortunnych zdarzeń losowych */
under-ubez{
width: 805px;
height: 98px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}